# =========================
# Python / Backend
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env
*.venv

# Logs y DB
*.log
*.sqlite3

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Carpeta de modelos y uploads
backend/models/
backend/uploads/

# No subir datos de entrenamiento ni base de datos local
database/
training/

# Otros temporales
*.bak
*.swp

# =========================
# Node / Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.vercel/
frontend/*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de configuración y entorno
frontend/.env
backend/.env
