# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env
*.venv

# Logs
*.log
*.sqlite3

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Models / Uploads pesadas (opcional, si no quieres subirlas)
# models/
# uploads/

# Otros
*.bak
*.swp
